.fivesecondsline, .fifteensecondsline {
	-fx-stroke: #ababab;
	-fx-fill: transparent;
}

.fivesecondsline {
	-fx-stroke-dash-array: 4 8;
}


.minuteline {
	-fx-fill: BLACK;
}

#codingPane, #codingPane > * {
	-fx-background-color: white;
}

#codingPane Rectangle#cover {
	-fx-fill: white;
}

.popover Label {
    -fx-text-fill: black;
}

#inputSubject {
	-fx-border-width: 1 0 1 1;
	-fx-background-radius: 3 0 0 3;
	-fx-border-style: solid none solid solid;
}

#inputAction {
	-fx-border-width: 1 0 1 0;
	-fx-background-radius: 0 0 0 0;
	-fx-border-style: solid none solid none;
}

#inputModifier {
	-fx-border-width: 1 1 1 0;
	-fx-background-radius: 0 3 3 0;
	-fx-border-style: solid solid solid none;
}

#welcomePane Label {
	-fx-font-size: 0.5cm;
	-fx-font-weight: bold;
}